html {
    scroll-behavior: smooth;
}
h1 {
    font-family: linotype-didot, serif; 
}
p {
    font-family: linotype-didot, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: #FBF7F2;
}
.navbar {
    background-color: #FBF7F2;
    height: 80px;
    font-family: 'futura-pt', sans-serif;
    font-size: 18px;
    transition: .5s;
}
.navbar .navbar-nav .nav-item .logo-navbar img {
    width: 100px;
    margin: 5px 0;
    vertical-align: bottom;
    transition: .5s;
}
.navbar .navbar-nav .nav-item {
    margin: 0 31px;
}
.navbar div {
    height: 100%;
}
.navbar .navbar-nav .nav-item > a {
    margin: 35px 0 0 0;
}
.dropdown-menu {
    background-color: #FBF7F2;
    border: 0 solid transparent;
    border-radius: 3px;
}
.dropdown-menu a {
    padding: 4px;
}
.slide-gallery{
    padding: 80px 0 0 0;
}
.popular-products{
    margin: 100px 0;
}
.popular-products .popular-products-title {
    align-content: center;
    justify-content: center;
    margin: 0 0 50px 0;
}
.popular-products .popular-products-title h1 {
    font-size: 40px;
}
.popular-products .popular-products-title a {
    display: flex;
    align-content: center;
}
.popular-products .popular-products-title .scrolly-popular-products img {
    width: 25px;
    margin: 0 15px 8px 15px;
}
.popular-products .row .col .card-group .card { 
    margin: 0 8px;
    background-color: #e2e2e275;
    border-radius: 5px;
    border: none;
    transition: .8s;   
}
.popular-products .row .col .card-group .card:hover { 
    box-shadow: 0 8px 12px 0 #0000003f;
    transition-duration: .8s; 
    transform: translate(0, -10px);
}
.popular-products .row .col .card-group .card .card-footer {
    background-color: #092538;
    border-radius: 0 0 5px 5px;
}
.popular-products .row .col .card-group .card .card-footer .row {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-products .row .col .card-group .card .card-footer .row h6 {
    color: whitesmoke;
    margin: 0;
    margin-left: 5px;
}
.popular-products .row .col .card-group .card .card-footer .row img {
    width: 25px;
    margin-right: 5px;
}
.historia {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.historia .historia-img{
    margin-left: 10%;
}
.historia .historia-img img{
    max-width: 600px;
    margin-right: -150px;
}
.historia .historia-text{
    margin-right: 10%;
    margin-left: -150px;
    background-color: #e2e2e275;
    padding: 25px 60px;
    border-radius: 4px;
}
.historia .historia-img{
    margin-right: 10%;
}
.nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nosotros .nosotros-text{
    margin-left: 10%;
    margin-right: -150px;
    background-color: #e2e2e275;
    padding: 25px 60px;
    border-radius: 4px;
}
.nosotros .nosotros-img img{
    max-width: 600px;
    margin-left: -150px;
}
.nosotros .nosotros-img {
    margin-right: 10%;
}
.new-products{
    padding: 65px 0;
    background-color: white;
}
.new-products .popular-products-title {
    align-content: center;
    justify-content: center;
    margin: 0 0 50px 0;
}
.new-products .popular-products-title h1 {
    font-size: 40px;
}
.new-products .popular-products-title a {
    display: flex;
    align-content: center;
}
.new-products .popular-products-title .scrolly-popular-products img {
    width: 25px;
    margin: 0 15px 8px 15px;
}
.new-products .row .col .card-group .card { 
    margin: 0 8px;
    background-color: #e2e2e275;
    border-radius: 5px;
    border: none;
    transition: .8s;   
}
.new-products .row .col .card-group .card:hover { 
    box-shadow: 0 8px 12px 0 #0000003f;
    transition-duration: .8s; 
    transform: translate(0, -10px);
}
.new-products .row .col .card-group .card .card-footer {
    background-color: #092538;
    border-radius: 0 0 5px 5px;
}
.new-products .row .col .card-group .card .card-footer .row {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-products .row .col .card-group .card .card-footer .row h6 {
    color: whitesmoke;
    margin: 0;
    margin-left: 5px;
}
.new-products .row .col .card-group .card .card-footer .row img {
    width: 25px;
    margin-right: 5px;
}
