h1 {
    font-family: linotype-didot, serif; 
}
p {
    font-family: linotype-didot, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    box-sizing: border-box;
    background-color: #FBF7F2;
}
.navbar {
    background-color: #FBF7F2;
    height: 80px;
    font-family: 'futura-pt', sans-serif;
    font-size: 18px;
}
.navbar .navbar-nav .nav-item .logo-navbar img {
    width: 100px;
    margin: 5px 0;
    vertical-align: bottom;
}
.navbar .navbar-nav .nav-item {
    margin: 0 31px;
}
.navbar div {
    height: 100%;
}
.navbar .navbar-nav .nav-item > a {
    margin: 35px 0 0 0;
}
.dropdown-menu {
    background-color: #FBF7F2;
    border: 0 solid transparent;
    border-radius: 3px;
}
.dropdown-menu a {
    padding: 4px;
}
.slide-gallery{
    padding: 80px 0 0 0;
}
.popular-products{
    margin: 120px 0;
}
.popular-products .row .col .card-group .card { 
    margin: 0 3px;
    background-color: #FBF7F2;
    border-radius: 4px;
}
.popular-products .row .col .card-group .card .card-footer {
    background-color: darkblue;
}
.popular-products .row .col .card-group .card .card-footer a {
    text-decoration: none;
    color: whitesmoke;
}
.popular-products .row .col .card-group .card .card-footer .row h6 {
    display: flex;
    align-content: center;
    justify-content: center;
}
.popular-products .row .col .card-group .card .card-footer .row .text-muted img {
    width: 40px;
}
.historia {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.historia .historia-img{
    margin-left: 10%;
}
.historia .historia-img img{
    max-width: 600px;
    margin-right: -150px;
}
.historia .historia-text{
    margin-right: 10%;
    margin-left: -150px;
    background-color: #e2e2e275;
    padding: 25px 60px;
    border-radius: 4px;
}